/* 1. Google Fonts Import (always first) */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 2. Tailwind v4 Import */
@import "tailwindcss";

/* 3. Custom CSS */
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

body {
  /* background: #e5e5e0; */
  background: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif; /* default font */
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* horizontal scrollbar ke liye height: 12px */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #000000; /* track ka color */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #87e64b; /* scroll ka color */
  border-radius: 6px; /* round edges */
  border: 3px solid #87e64b; /* track ke color ka border */
}

/* Hover effect (optional) */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  border: 3px solid #87e64b;
}

#about {
  will-change: transform;
}

